/*CLASSES PARA PADRONIZAÇÃO DO SITE*/

*{
    margin: 0px;
    box-sizing: border-box;
	padding: 0;
}

.conteudo{
    width: 1500px;
    height: 2000px;
/*    background-color: dodgerblue; */
    overflow: hidden;
    padding-top: 30px;
	box-sizing: border-box;
    border-radius: 100px;
    background-image: url(../img/pizza_body.jpg);
    background-size: cover;
}


.center {
    margin-left: auto;
    margin-right: auto;
    
}
body{
    background-color: #e3e3da;
}

.background{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1,h2{
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    letter-spacing:0px;
    padding-left: 30px;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding-top: 20px;
/*    text-transform: uppercase; */
 }

h2{
    font-size: 35px;
    text-transform: capitalize;
    color:black;
    
}

h2 > span{
    font-size: 25px;
}

p{
    font-family: times new roman;
    font-size: 26px;
    line-height: 1;
    text-align: left;
    width: inherit;
    min-height: 18px; 
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    color: black;
	text-align: justify;
    
}

/*      Area da caixa de login*/
*{
    padding: 0;
    margin: 0;
}

input{
    width: 80px;
    
}

form{
    
}


/*Area CMS*/

#area_cms{
    width: 1300px;
    height: 1700px;
    background-color: dodgerblue;
    margin-right: auto;
    margin-left: auto;
}

#cms{
    width: 100%;
    height: 250px;
    background-color: yellowgreen;
    border-top-right-radius: 50px;
    margin-top: 50px;

}

#titulo_cms{
    width: 650px;
    height: 150px;
    background-color: aqua;
    margin-top: 50px;
    margin-left: 75px;
    float: left;
    padding-top: 35px;
    font-size: 26px;
}

#imagem_cms{
    width: 240px;
    height: 240px;
    background-color: forestgreen;
    float: left;
    margin-left: 300px;
    margin-top: 5px;
    border-radius: 150px;
}

/*area administração*/

#menu_cms{
    width: 100%;
    height: 350px;
    background-color: skyblue;
    
}

.area_img{
    width: 250px;
    height: 300px;
    background-color: lawngreen;
    float: left;
    margin-left: 80px;
    margin-top: 25px;
    text-align: center;
    font-size: 28px;
    
}

.area_img > p{
    text-align: center;
}

.img{
    width: 250px;
    height: 250px;
    background-color: darkcyan;
}

#area_bemvindo{
    width: 225px;
    height: 75px;
    margin-left: 43px;
    margin-top: 50px;
    background-color: hotpink;
    float: left; 
    font-size: 26px;
    padding-top: 20px;
    text-align: center;
    
}

#logout{
    width: 100px;
    height: 35px;
    float: left;
    margin-top: 180px;
    margin-left: 195px;
    background-color: dodgerblue;
    
    
}

#logout > input{
    width: 100px;
    height: 35px;
    font-size: 17px;
    border: solid 1px;
    background-color: white;
    color: black;
}

#area_conteudo{
    width: 100%;
    height: 900px;
    background-color: brown;
    
}

#rodape {
    width:1300px;
    height: 100px;
    background-color: aqua;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    text-align: center;
    padding-top: 15px;
    margin-right: auto;
    margin-left: auto;

}




